# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
.pnpm-debug.log*
package-lock.json

# Env & secrets
.env
.env.*
!.env.example

# Logs & artifacts
logs/
*.log
dist/
build/
coverage/
.DS_Store
